{% extends "restaurant/base.html" %}
{% load static %}

{% block title %}Галерея{% endblock %}
<header class="bg-primary p-3">

{% block content %}

<!-- Подключаем внешний CSS -->
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<div class="container py-5">
  <h2 class="text-center text-primary mb-5">Наша Галерея</h2>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

    <div class="col fade-in-up fade-delay-1">
      <div class="card h-100 border-0 shadow-lg rounded-4 overflow-hidden">
        <img src="{% static 'image/2.jpg' %}" class="card-img-top img-fluid" alt="Фото 1" style="height: 300px; object-fit: cover;">
      </div>
    </div>

    <div class="col fade-in-up fade-delay-2">
      <div class="card h-100 border-0 shadow-lg rounded-4 overflow-hidden">
        <img src="{% static 'image/1.jpg' %}" class="card-img-top img-fluid" alt="Фото 2" style="height: 300px; object-fit: cover;">
      </div>
    </div>

    <div class="col fade-in-up fade-delay-3">
      <div class="card h-100 border-0 shadow-lg rounded-4 overflow-hidden">
        <img src="{% static 'image/2.jpg' %}" class="card-img-top img-fluid" alt="Фото 3" style="height: 300px; object-fit: cover;">
      </div>
    </div>
    <div class="col fade-in-up fade-delay-1">
        <div class="card h-100 border-0 shadow-lg rounded-4 overflow-hidden">
          <img src="{% static 'image/2.jpg' %}" class="card-img-top img-fluid" alt="Фото 1" style="height: 300px; object-fit: cover;">
        </div>
      </div>
  
      <div class="col fade-in-up fade-delay-2">
        <div class="card h-100 border-0 shadow-lg rounded-4 overflow-hidden">
          <img src="{% static 'image/1.jpg' %}" class="card-img-top img-fluid" alt="Фото 2" style="height: 300px; object-fit: cover;">
        </div>
      </div>
  
      <div class="col fade-in-up fade-delay-3">
        <div class="card h-100 border-0 shadow-lg rounded-4 overflow-hidden">
          <img src="{% static 'image/2.jpg' %}" class="card-img-top img-fluid" alt="Фото 3" style="height: 300px; object-fit: cover;">
        </div>
      </div>

  </div>
</div>

{% endblock %}
